.element__like {
  display: flex;
  width: 22px;
  height: 19px;
  margin: auto 20px;
  padding: 0;
  background-color: white;
  background-image: url('../../../images/element-like.svg');
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}