.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 50%;
}

@media screen and (max-width:500px) {
  .profile__avatar {
    display: flex;
    align-self: center;
  }
}